.mainContacto {
    margin-top: 0;
    display: grid;
    grid-template-areas:
    "Carsl Carsl" 
    "Aside Forms"
    "Aside Forms";

    grid-template-columns: 50vw 49.1vw;
    grid-template-rows: 50vh 50vh;
    grid-gap: none;

    &__carousel {
        grid-area: Carsl;


        p {
            font-weight: bold;
            font-style: oblique;
            font-size: 18px;
            color: black;
            background-color: cornsilk;
            max-width: 17%;
            margin-left: 29vw;
        }
    }

    &__infoDeC {
        grid-area: Aside;
        margin-left: 20vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding: 5.5rem;
        background-color: cornsilk;

        &__titulo {
            font-size: 25px;
            font-weight: bold;
        }

        &__parrafo {
            font-size: 16px;
        }
    }

    &__iFormularios {
        grid-area: Forms;
        text-align: center;
        margin-right: 20vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding: 4rem;
        background-color: cornsilk;

        &__titulo {
            font-size: 25px;
            font-weight: bold;
        }
    }
}