
.mainCursos {
    height: 70vh;

    &__lista {
        @include Flexbox(flex, row, space-evenly, center);
        list-style: none;
        margin-top: 7%;
        font-family: 'Kurale';

        &__item__curso {
            text-align: center;
            background-color: cornsilk;
            padding: 2rem;
            @include Sizes(40em, 30em);
            overflow: hidden;
            transition: height 1s;

            &:hover {
                height: 52em;
            }

            &__titulo {
                font-size: 2.5em;
            }

            &__info {
                font-size: 1.7em;
            }

            &__button {
                text-decoration: none;
                color: rgb(0, 0, 0);
                background-color: wheat;
                padding: 1em;
                font-size: 1.7em;

                &:hover {
                    color: rgb(255, 196, 0);
                }
            }
        }
    }
}