.mainCLista {
    height: 100vh;
    background-image: url(Multimedia/bodynew.jpg);
   
    &__lista {
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
        font-family: 'Kurale';
        
        &__item {
            text-decoration: none;
            width: 20%;
            
            
            &__curso {
                background-color: black;
                border-radius: 2em;
                border: .2em solid cornsilk;
                padding: 5em;
                height: 40em;
                

                &__titulo {
                    text-decoration: underline;
                    font-weight: bolder;
                    font-size: 2.5em;
                    color: cornsilk;
                }

                &__info {
                    font-size: 1.7em;
                    color: cornsilk;
                }

                &__info2 {
                    font-weight: bold;
                    font-size: 1.7em;
                    color: cornsilk;
                }

                &__button {
                    text-decoration: none;
                    padding: 0.2em;
                    background-color: cornsilk;
                    color: black;
                    font-size: 2em;
                }

                &__button:hover {
                    color: rgb(0, 153, 255);
                }
            }
        }

    }
}

