.mainCLista {
    height: 70vh;
   
    &__lista {
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
        font-family: 'Kurale';
        
        &__item {
            text-decoration: none;
            
            &__curso {
                background-color: cornsilk;
                padding: 5em;

                &__titulo {
                    text-decoration: underline;
                    font-weight: bolder;
                    font-size: 2.5em;
                }

                &__info {
                    font-size: 1.7em;
                }

                &__info2 {
                    font-weight: bold;
                    font-size: 1.7em;
                }

                &__button {
                    text-decoration: none;
                    padding: 0.5em;
                    background-color: crimson;
                    color: white;
                    font-size: 1.7em;
                }
            }
        }

    }
}