
.mainCursos {
    height: 100vh;
    background-image: url(Multimedia/bodynew.jpg);

    &__lista {
        @include Flexbox(flex, row, space-evenly, center);
        list-style: none;
        margin-top: 7%;
        font-family: 'Kurale';

        &__item__curso {
            text-align: center;
            background-color: black;
            padding: 2rem;
            border-radius: 2em;
            border: .2em solid cornsilk;
            @include Sizes(40em, 30em);
            overflow: hidden;
            transition: height 1s;


            &:hover {
                height: 54em;
            }

            &__titulo {
                font-size: 2.5em;
                color: cornsilk;
            }

            &__info {
                font-size: 1.7em;
                color: cornsilk;
                margin-bottom: 1em;
            }

            &__button {
                text-decoration: none;
                color: rgb(0, 0, 0);
                background-color: wheat;
                padding: .7em;
                
                font-size: 1.7em;

                &:hover {
                    color: rgb(255, 196, 0);
                }
            }
        }
    }
}