@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

@mixin Sizes($width, $height) {
    height: $height;
    width: $width;
}

@mixin Flexbox($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Kurale', serif;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

.iHeader {
    height: 12vh;
    @include Flexbox(flex, row, space-between, center);

    &__logo {
        text-decoration: none;

        &__text {
            margin-left: 3.5vw;
            font-size: 3.6em;
            color: cornsilk;
            text-decoration: none;
            text-align: center;
            border-top: cornsilk 0.1em groove;
            border-bottom: cornsilk 0.1em groove;
        }
    }
    

    &__parrafo {
        margin-right: 30vw;
        color: cornsilk;
        font-weight:lighter;
    }

    &__menu {
        width: 40%;
    }

    &__menu__lista {
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        .lista__item {
            display: inline-block;
            position: relative;  

            &__link {
                font-family:'Cinzel', serif;
                font-size: 15px;
                text-decoration: none;
                color:cornsilk;
                font-weight: lighter;
                
                

                &:hover {
                    border-bottom: cornsilk dashed 0.1em;
                    animation: fadeIn;
                    animation-duration: 1s
                }
            }
            
            &--paginaActual {
                padding: 0.4em;
                border: 0.1em double cornsilk;
            }
            &--aIns {
                a {
                    padding: 10px;
                    color: black;
                    background-color: cornsilk;
                }
            }
        }
    }
}

.backgroundIndex {
    background-image: url(Multimedia/bodynew.jpg);
    background-size: cover;
}

.iFooter {
    &__redes {
        background-image: url(Multimedia/header.jpg);
        height: 12vh;
        @include Flexbox(flex, row, center, center);

        &__link {
            text-decoration: none;
            color: rgb(0, 0, 0);
            margin-right: 8px;

            i {
                font-size: 2em;
            }
        }
    }
    
    &__text {
        background-color: black;
        @include Flexbox(flex, row, center, center);
        height: 10vh;

        &__parrafos {
            text-align: center;
            display: inline;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            margin: 0.8em;
        }

    }   
}
