.welcomeIndex {
    background-image:url(Multimedia/bodynew.jpg);
    height: 120vh;

    &__square {
        width: 40%;
        height: 50%;
        margin-left: 55%;
        margin-top: 12%;

        &__title {
            font-size: 5em;
            color: cornsilk;
            padding: 0.2em;
        }

        &__text {
            margin-top: 2em;
            font-size: 3em;
            color: cornsilk;
        }
    }
}

.mainIndex {

    display: grid;
    grid-template-areas:
    "corte corte corte corte"
    "sec1 sec1 sec1 sec1"
    "corte1 corte1 corte1 corte1"
    "sec2 sec2 sec2 sec2"
    "corte2 corte2 corte2 corte2"
    "sec3 sec3 sec3 sec3";
    
    grid-template-columns: 25% 25% 25% auto;
    grid-template-rows: 25vh 70vh 25vh 70vh 25vh 70vh;

    

    &__corte {
        grid-area: corte;
        background-image: url(Multimedia/bodynew.jpg);
        background-position: top;
        padding: 0.3em;
        border: cornsilk 0.3em double;

        &__text {
            margin-top: 9vh;
            margin-left: 5vw;
            color:cornsilk;
            font-size: 6em;
        }
    }

    &__sec1 {
        grid-area: sec1;
        padding: 2em;
        background-image: url(Multimedia/home4.jpg);
        background-size: cover;

        &__text {
            font-size: 2em;
            padding: 1em;
            background-color: black;
            color: cornsilk;
            border-radius: .5em;
            width: 40%;
            height: 30%;
            margin-top: 23vh;
            margin-left: 50vw;
        }
    }

    &__corte1 {
        grid-area: corte1;
        background-image: url(Multimedia/bodynew.jpg);
        background-position: top;
        padding: 0.3em;
        border: cornsilk 0.3em double;

        &__text {
            margin-top: 9vh;
            margin-left: 57vw;
            color:cornsilk;
            font-size: 6em;
        }
    }

    &__sec2 {
        grid-area: sec2;
        padding: 2em;
        background-image: url(Multimedia/corteIndex.jpg);
        background-size: cover;

        &__text {
            font-size: 2em;
            padding: 1em;
            background-color: black;
            color: cornsilk;
            border-radius: .5em;
            width: 40%;
            height: 30%;
            margin-top: 23vh;
            margin-left: 7vw;
        }
    }

    &__corte2 {
        grid-area: corte2;
        background-image: url(Multimedia/bodynew.jpg);
        background-position: top;
        padding: 0.3em;
        border: cornsilk 0.3em double;

        &__text {
            margin-top: 9vh;
            margin-left: 7vw;
            color:cornsilk;
            font-size: 6em;
        }
    }

    &__sec3 {
        grid-area: sec3;
        padding: 2em;
        background-image: url(Multimedia/home3.jpg);
        background-size: cover;
        background-position: left;

        &__text {
            font-size: 2em;
            padding: 1em;
            background-color: black;
            color: cornsilk;
            border-radius: .5em;
            width: 40%;
            height: 30%;
            margin-top: 23vh;
            margin-left: 50vw;
        }
    }
}

