
.mainReg {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin-top: 10vh;
    margin-left: 30%;
    padding: 5em 0;
    background-color: cornsilk;
    align-items: center;
    justify-items: center;

    &__form {
        &__link {
            display: block;
            text-decoration: none;
            padding: 0.3em; 
            background-color: rgb(236, 229, 131);
        }
    }
}

.regHeader {
    height: 4vh;

    &__img {
        margin: 1em 0.5em;
        color: rgb(121, 106, 47);
        font-size: 4em;
    }
}