@media only screen and (min-width: 300px) and (max-width: 700px) {

    .iHeader {
        height: 10vh;

        &__imagen {
            @include Sizes (3em, 3em);
        }

        &__menu {
            width: 90%;
        }

        .lista__item {
            display: inline-block;

            &__link {
                
                font-size: 7px;
            }

            &--paginaActual {
                
                border-bottom: 1px dashed cornsilk;
            }
            &--aIns {
                a {
                    padding: 0px;
                    color: black;
                    background-color: cornsilk;
                }
            }
        }
    }

    .iFooter {
    height: 4vh;
        
        &__redes {
            &__link {
                i {
                    font-size: 1.5em;
                }
            }
        }

        &__text {
            &__parrafos {
                font-size: 0.8em;
            }
        }
        
    }

    .mainIndex {
        display: block;
        height: 140vh;
        
            &__seccion1 {
            padding: 10px;
            margin: 1rem 1rem;

                &__titulo {
                    font-size: 16px;
                    text-decoration: none;
                }

                &__parrafo {
                    font-size: 12px;
                }
            }

        &__seccion2 {
            margin: 1rem 0;
            height: 15%;
            width: 100%;
            }

        &__seccion3 {
            padding: 10px;
            margin: 1rem 1rem;

                &__titulo2 {
                    font-size: 12px;
                }

                &__parrafo {
                    font-size: 8px;
                }
            }

        &__seccion4 {
            padding: 10px;
            margin: 1rem 1rem;

            &__titulo2 {
                font-size: 12px;
            }

            &__parrafo {
                font-size: 8px;
            }
        }

        &__seccion5 {
            margin: 1rem 0;
            height: 15%;
            width: 100%;
        }

        &__seccion6 {
            margin: 1rem 0;
            height: 15%;
            width: 100%;
        }

        &__seccion7 {
            padding: 10px;
            margin: 1rem 1rem;

            &__titulo2 {
                font-size: 12px;
            }

            &__parrafo {
                font-size: 8px;
            }
        }
    }

    .mainPort {
        height: 90vh;
        

        &__seccion1 {
            padding: 1em;
            margin: 1em 1em;
            display: block;

            &__titulo {
                font-size: 1.5em;
                margin: 0;
            }

            &__parrafo {
                font-size: 0.9em;
                margin-top: 0.5em;
            }

            &__imagen {
                @include Sizes (14em, 18em);
                margin: 1rem 1rem;
            }
        }
    }

    .mainContacto {
        display: block;

        &__map {
            width: 80%;
            margin: 5em 10%;
            padding: 1em 1em;
        }

        &__infoDeC {
            margin: 1rem 1rem;
            padding: 10px;

            &__titulo {
                font-size: 18px;
            }

            &__parrafo {
                font-size: 10px;
            }
        }

        &__iFormularios {
            margin: 1rem 1rem;
            padding: 10px;

            &__titulo {
                font-size: 18px;
            }

            p {
                font-size: 10px;
            }
        }
    }

    .regHeader__img {
        i {
            font-size: 0.5em;
        }
    }

    .mainReg {
        width: 60%;
        margin: 5rem 5rem;
        padding: 2em;
        height: 70vh;

        &__form {
            font-size: 1em;
        }

        &__pic {
            img { @include Sizes (6em, 6em);
            }
        }
    }

    .mainCursos {
        height: 90vh;

        &__lista {
            display: block;

            &__item {

                &__curso {
                    @include Sizes (60%, 14em);
                    padding: 1px 1px;
                    margin-left: 20%;
                    margin-bottom: 2%;

                    &:hover {
                        height: 24em;
                    }

                    img {
                        margin-top: 5%;
                        @include Sizes (13em, 8em);
                    }

                    &__titulo {
                        font-size: 1em;
                    }

                    &__info {
                        font-size: 0.7em;
                    }

                    &__button {
                        font-size: 0.8em;
                    }
                }
            }
        }


    }

    .mainCLista {
        height: 140vh;

        &__lista {
            display:block;

            &__item {
                
                &__curso {
                    margin: 2rem 2rem;

                    &__titulo{
                        font-size: 16px;
                    }

                    &__info2 {
                        font-size: 10px;
                    }   

                    &__button {
                        font-size: 10px;
                    }
                }
            }
        }
    }


    .mainCLista {
        height: 90vh;
   
        &__lista {
            margin-top: 8vh;
            display: block;

            &__item {
                width: 70%;
                margin-left: 15%;
                
                
                &__curso {
                    padding: 3em;
                    height: 20em;
                    

                    &__titulo {
                        font-size: 1.3em;
                    }

                    &__info {
                        font-size: 0.9em;
                    }

                    &__info2 {
                        font-size: 0.9em;
                    }

                    button {
                        text-decoration: none;
                        padding: 0.2em;
                        background-color: rgb(0, 0, 0);
                        color: white;
                        font-size: 1.2em;
                    }

                    button:hover {
                            background-color: rgb(0, 153, 255);
                        }
                }
            }

        }
    }

    .offcanvas-header {
        h5 {
            font-size: 2em;
        }
    }

    .offcanvas-body {
        &__parrafo {
            font-size: 1.2em;
        }

        &__req {
            font-size: 1.2em;

            &__text {
                font-size: 1.2em;
            }
        }

        &__button {
            font-size: 1.5em;
        }
    }

    .main404 {
        
        i {
            font-size: 7em;
        }

        &__titulo {
            font-size: 2.6em;
        }

        &__parrafo {
            font-size: 1.2em;
        }
    }   
    
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {

    .iHeader {
        height: 10vh;

        &__imagen {
            @include Sizes (40px, 40px);
        }

        &__menu {
            width: 80%;
        }

        .lista__item {
            display: inline-block;

            &__link {
                
                font-size: 9px;
            }

            &--paginaActual {
                
                border-bottom: 2px dashed cornsilk;
            }
            &--aIns {
                a {
                    padding: 0px;
                    color: black;
                    background-color: cornsilk;
                }
            }
        }
    }

    .iFooter {
    height: 4vh;

    &__parrafo {
        margin-right: 5px;
        font-size: 7px;
        color: rgb(210, 214, 205);
    }

    &__imagen {
        margin: 2px;
        @include Sizes (10px, 10px);
    }
}

    .mainIndex {
        display: block;
        height: 140vh;
        
            &__seccion1 {
            padding: 10px;
            margin: 1rem 1rem;

                &__titulo {
                    font-size: 16px;
                    text-decoration: none;
                }

                &__parrafo {
                    font-size: 13px;
                }
            }

        &__seccion2 {
            margin: 1rem 0;
            height: 15%;
            width: 100%;
            }

        &__seccion3 {
            padding: 10px;
            margin: 1rem 1rem;

                &__titulo2 {
                    font-size: 14px;
                }

                &__parrafo {
                    font-size: 10px;
                }
            }

        &__seccion4 {
            padding: 10px;
            margin: 1rem 1rem;

            &__titulo2 {
                font-size: 14px;
            }

            &__parrafo {
                font-size: 10px;
            }
        }

        &__seccion5 {
            margin: 1rem 0;
            height: 15%;
            width: 100%;
        }

        &__seccion6 {
            margin: 1rem 0;
            height: 15%;
            width: 100%;
        }

        &__seccion7 {
            padding: 10px;
            margin: 1rem 1rem;

            &__titulo2 {
                font-size: 14px;
            }

            &__parrafo {
                font-size: 10px;
            }
        }
    }

    .mainPort {
        height: 90vh;
        

        &__seccion1 {
            padding: 10px;
            margin: 1rem 1rem;
            display: block;

            &__titulo {
                font-size: 18px;
            }

            &__parrafo {
                font-size: 11px;
            }

            &__imagen {
                @include Sizes (140px, 200px);
                margin: 1rem 1rem;
            }
        }
    }

    .mainContacto {
        display: block;

        &__map {
            width: 90%;
            margin-left: 5%;
            padding: 2em 2em;
        }

        &__infoDeC {
            margin: 1rem 1rem;
            padding: 10px;

            &__titulo {
                font-size: 18px;
            }

            &__parrafo {
                font-size: 13px;
            }
        }

        &__iFormularios {
            margin: 1rem 1rem;
            padding: 10px;

            &__titulo {
                font-size: 18px;
            }

            p {
                font-size: 10px;
            }
        }
    }

    .mainReg {
        width: 60%;
        margin: 5em 5em;
        margin-left: 20%;
        padding: 2em;
        height: 100vh;

        &__form {
            font-size: 1em;
        }

        &__pic {
            img { @include Sizes (10em, 10em);
            }
        }
    }

    .mainCursos {
        height: 160vh;
        

        &__lista {
            display: block;
            
            &__item {
                margin: 0 2rem;
                margin-left: 16%;
                
                &__curso {
                    padding: 8%;
                    width: 60%;
                    height: 18.6em;
                    margin-bottom: 3rem;

                    &:hover {
                        height: 40em;
                    }

                    img {
                        @include Sizes (30em, 17em);
                    }

                    &__titulo {
                        font-size: 2em;
                    }

                    &__info {
                        font-size: 1.4em;
                    }

                    &__button {
                        font-size: 1.5em;
                        padding: 0.5em 0.5em;
                        margin-top: 1em;
                    }
                }
            }
        }
    }

    .mainCLista {
        height: 110vh;

        &__lista {
            display:block;

            &__item {
                width: 60%;
                margin-left: 20%;

                &__curso {
                    margin: 2em 2em;
                    

                    &__titulo{
                        font-size: 2.5em;
                    }

                    &__info2 {
                        font-size: 1.8em;
                    }   

                    &__button {
                        font-size: 1.8em;
                    }
                }
            }
        }
    }
    
    .main404 {
        
        i {
            font-size: 12em;
        }

        &__titulo {
            font-size: 3em;
        }

        &__parrafo {
            font-size: 1.5em;
        }
    }   
}