@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
/* font-family:'Kurale', serif; */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
/* font-family:'Cinzel', serif; */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
/* font-family: 'Comfortaa', cursive; */
/* Funciones */
/* Animaciones */
#animaciónCenter {
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

#animaciónLeft {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#animaciónRight {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#animaciónDown {
  -webkit-animation: fadeInDown;
          animation: fadeInDown;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Kurale', serif;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
}

.iHeader {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iHeader__logo {
  text-decoration: none;
}

.iHeader__logo__text {
  margin-left: 3.5vw;
  font-size: 3.6em;
  font-family: 'Comfortaa', cursive;
  color: cornsilk;
  text-decoration: none;
  text-align: center;
  border-top: cornsilk 0.1em groove;
  border-bottom: cornsilk 0.1em groove;
}

.iHeader__parrafo {
  margin-right: 30vw;
  color: cornsilk;
  font-weight: lighter;
}

.iHeader__menu {
  width: 40%;
}

.iHeader__menu__lista {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.iHeader__menu__lista .lista__item {
  display: inline-block;
  position: relative;
}

.iHeader__menu__lista .lista__item__link {
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  text-decoration: none;
  color: cornsilk;
  font-weight: lighter;
}

.iHeader__menu__lista .lista__item__link:hover {
  border-bottom: cornsilk dashed 0.1em;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.iHeader__menu__lista .lista__item--paginaActual {
  padding: 0.4em;
  border: 0.1em double cornsilk;
}

.iHeader__menu__lista .lista__item--aIns a {
  padding: 10px;
  color: black;
  background-color: cornsilk;
}

.headerMobile {
  display: none;
}

.backgroundIndex {
  background-image: url(Multimedia/bodynew.jpg);
  background-size: cover;
}

.iFooter {
  height: 40vh;
  background-color: black;
  border: black 0.01em dashed;
}

.iFooter__titleYpags {
  height: 25vh;
  background-color: cornsilk;
}

.iFooter__titleYpags__pags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iFooter__titleYpags__pags__title {
  font-size: 4em;
  font-family: 'Comfortaa', cursive;
  color: black;
  border-top: black .1em groove;
  border-bottom: black .1em groove;
  text-decoration: none;
}

.iFooter__titleYpags__pags__list {
  list-style-type: none;
}

.iFooter__titleYpags__pags__list__item {
  display: inline;
  margin-right: 3em;
}

.iFooter__titleYpags__pags__list__item__link {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
  font-family: 'Cinzel', serif;
}

.iFooter__titleYpags__pags__list__item__link:hover {
  border-bottom: black dashed 0.1em;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.iFooter__titleYpags__pags__news {
  margin-top: 2vh;
  margin-bottom: auto;
}

.iFooter__titleYpags__pags__news__title2 {
  font-size: 1.8em;
  margin-bottom: 1.2em;
}

.iFooter__titleYpags__pags__news__input {
  height: 2em;
  width: 20em;
  padding: .5em .5em;
  background-color: black;
  color: cornsilk;
  margin-bottom: 1.2em;
}

.iFooter__titleYpags__pags__news__button {
  font-size: 1.8;
  display: block;
  background-color: cornflowerblue;
  border: cornflowerblue .1em solid;
  color: white;
  padding: .7em .7em;
}

.iFooter__privYredes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

.iFooter__privYredes__redes {
  margin-left: 6%;
  width: 20%;
}

.iFooter__privYredes__redes__link {
  margin-left: 3%;
  font-size: 2.8em;
  text-decoration: none;
  color: cornsilk;
}

.iFooter__privYredes__copy {
  width: 30%;
  font-size: 1.4em;
  color: white;
}

.iFooter__privYredes__terminos {
  width: auto;
}

.iFooter__privYredes__terminos__link {
  font-size: 1.4em;
  text-decoration: none;
  color: cornsilk;
}

.welcomeIndex {
  background-image: url(Multimedia/bodynew.jpg);
  height: 120vh;
}

.welcomeIndex__square {
  width: 40%;
  height: 50%;
  margin-left: 55%;
  margin-top: 12%;
}

.welcomeIndex__square__title {
  font-size: 5em;
  color: cornsilk;
  padding: 0.2em;
}

.welcomeIndex__square__text {
  margin-top: 2em;
  font-size: 3em;
  color: cornsilk;
}

.mainIndex {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "corte corte corte corte" "sec1 sec1 sec1 sec1" "corte1 corte1 corte1 corte1" "sec2 sec2 sec2 sec2" "corte2 corte2 corte2 corte2" "sec3 sec3 sec3 sec3";
  -ms-grid-columns: 25% 25% 25% auto;
      grid-template-columns: 25% 25% 25% auto;
  -ms-grid-rows: 25vh 70vh 25vh 70vh 25vh 70vh;
      grid-template-rows: 25vh 70vh 25vh 70vh 25vh 70vh;
}

.mainIndex__corte {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: corte;
  background-image: url(Multimedia/bodynew.jpg);
  background-position: top;
  padding: 0.3em;
  border: cornsilk 0.3em double;
}

.mainIndex__corte__text {
  margin-top: 9vh;
  margin-left: 5vw;
  color: cornsilk;
  font-size: 6em;
}

.mainIndex__sec1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: sec1;
  padding: 2em;
  background-image: url(Multimedia/home4.jpg);
  background-size: cover;
}

.mainIndex__sec1__text {
  font-size: 2em;
  padding: 1em;
  background-color: black;
  color: cornsilk;
  border-radius: .5em;
  width: 40%;
  height: 30%;
  margin-top: 23vh;
  margin-left: 50vw;
}

.mainIndex__corte1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: corte1;
  background-image: url(Multimedia/bodynew.jpg);
  background-position: top;
  padding: 0.3em;
  border: cornsilk 0.3em double;
}

.mainIndex__corte1__text {
  margin-top: 9vh;
  margin-left: 57vw;
  color: cornsilk;
  font-size: 6em;
}

.mainIndex__sec2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: sec2;
  padding: 2em;
  background-image: url(Multimedia/corteIndex.jpg);
  background-size: cover;
}

.mainIndex__sec2__text {
  font-size: 2em;
  padding: 1em;
  background-color: black;
  color: cornsilk;
  border-radius: .5em;
  width: 40%;
  height: 30%;
  margin-top: 23vh;
  margin-left: 7vw;
}

.mainIndex__corte2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: corte2;
  background-image: url(Multimedia/bodynew.jpg);
  background-position: top;
  padding: 0.3em;
  border: cornsilk 0.3em double;
}

.mainIndex__corte2__text {
  margin-top: 9vh;
  margin-left: 7vw;
  color: cornsilk;
  font-size: 6em;
}

.mainIndex__sec3 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: sec3;
  padding: 2em;
  background-image: url(Multimedia/home3.jpg);
  background-size: cover;
  background-position: left;
}

.mainIndex__sec3__text {
  font-size: 2em;
  padding: 1em;
  background-color: black;
  color: cornsilk;
  border-radius: .5em;
  width: 40%;
  height: 30%;
  margin-top: 23vh;
  margin-left: 50vw;
}

.mainPort {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Portrait Texto1 Texto1" "Texto2 Texto2 Img" "pFoto pFoto Vacio" "Texto3 Texto3 Texto3";
  -ms-grid-columns: 33vw 23vw 43vw;
      grid-template-columns: 33vw 23vw 43vw;
  -ms-grid-rows: 90vh 55vh 55vh 60vh;
      grid-template-rows: 90vh 55vh 55vh 60vh;
}

.mainPort__Texto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: Texto1;
  background-color: black;
  height: 60vh;
  width: 55vw;
  margin-top: 18vh;
  padding-top: 5em;
}

.mainPort__Texto1__title {
  color: cornsilk;
  font-size: 3em;
  text-align: center;
}

.mainPort__Texto1__title2 {
  color: cornsilk;
  font-size: 1.8em;
  text-align: center;
}

.mainPort__Texto1__parrafo {
  color: cornsilk;
  font-size: 1.5em;
  text-align: center;
  padding: 1.5em 8em;
  margin-top: 2.5vh;
}

.mainPort__Portrait {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Portrait;
  background-color: black;
  padding: 2em 2em;
  height: 63vh;
  width: 25vw;
  border-radius: 3em;
  margin-left: 10vw;
  margin-top: 10vh;
}

.mainPort__Portrait__img {
  background-image: url(Multimedia/Portrait.jpeg);
  background-size: cover;
  height: 63vh;
  width: 25vw;
}

.mainPort__Texto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Texto2;
  background-color: black;
  height: 50vh;
  width: 53vw;
  padding: 2em 2em;
  margin-left: 10vw;
}

.mainPort__Texto2__title2 {
  color: cornsilk;
  font-size: 1.8em;
  text-align: center;
  margin-top: 5vh;
}

.mainPort__Texto2__parrafo {
  color: cornsilk;
  font-size: 1.5em;
  text-align: center;
  padding: 1.5em 8em;
}

.mainPort__Img {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: Img;
  background-color: black;
  padding: 2em 2em;
  height: 63vh;
  width: 30vw;
  border-radius: 3em;
  margin-top: 5vh;
  margin-left: 3vw;
}

.mainPort__Img__foto {
  background-image: url(Multimedia/Nos1.jpg);
  background-size: cover;
  height: 63vh;
  width: 30vw;
}

.mainPort__pFoto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: pFoto;
  background-color: black;
  padding: 2em 2em;
  height: 50vh;
  width: 53vw;
  border-radius: 3em;
  margin-left: 10vw;
  margin-top: 3vh;
}

.mainPort__pFoto__img {
  background-image: url(Multimedia/Nos2.jpg);
  background-size: cover;
  height: 50vh;
  width: 53vw;
}

.mainPort__Texto3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Texto3;
  background-color: black;
  height: 50vh;
  width: 56vw;
  padding: 2em 2em;
  margin-left: 22vw;
}

.mainPort__Texto3__title2 {
  color: cornsilk;
  font-size: 1.8em;
  text-align: center;
  margin-top: 5vh;
}

.mainPort__Texto3__parrafo {
  color: cornsilk;
  font-size: 1.5em;
  text-align: center;
  padding: 1.5em 8em;
}

.mainContacto {
  height: 160vh;
  margin-top: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "Info1 Info1" "Forms Forms";
  -ms-grid-columns: 50vw 49.1vw;
      grid-template-columns: 50vw 49.1vw;
  -ms-grid-rows: 12vh 70vh 70vh;
      grid-template-rows: 12vh 70vh 70vh;
  grid-gap: none;
  background-image: url(Multimedia/bodynew.jpg);
}

.mainContacto .iHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.mainContacto__Info1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Info1;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16vh;
}

.mainContacto__Info1__flexDivs1 {
  padding: 0em 5em;
}

.mainContacto__Info1__flexDivs1__title {
  color: cornsilk;
  font-size: 2em;
  text-align: center;
}

.mainContacto__Info1__flexDivs1__parrafo {
  color: cornsilk;
  font-size: 2.7em;
  text-align: center;
}

.mainContacto__Info1__flexDivs2 {
  padding: 0em 5em;
}

.mainContacto__Info1__flexDivs2__title {
  color: cornsilk;
  font-size: 2em;
  text-align: center;
}

.mainContacto__Info1__flexDivs2__parrafo {
  color: cornsilk;
  font-size: 2.7em;
  text-align: center;
}

.mainContacto__Info1__flexDivs3 {
  padding: 0em 5em;
}

.mainContacto__Info1__flexDivs3__title {
  color: cornsilk;
  font-size: 2em;
  text-align: center;
}

.mainContacto__Info1__flexDivs3__parrafo {
  color: cornsilk;
  font-size: 2.7em;
  text-align: center;
}

.mainContacto__iFormularios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Forms;
  text-align: center;
  background-color: darkslategrey;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5vh;
  margin-left: 22.5vw;
  padding: 4em;
}

.mainContacto__iFormularios__title {
  color: cornsilk;
  font-size: 3em;
  text-align: center;
}

.mainContacto__iFormularios__parrafo {
  color: cornsilk;
  font-size: 2.3em;
  text-align: center;
}

.mainContacto__iFormularios__nombre {
  height: 3em;
  width: 14em;
  font-size: 1.5em;
  margin: .8em .4em;
  color: white;
  background-color: black;
  border: solid .1em white;
  padding: 1em;
}

.mainContacto__iFormularios__numero {
  height: 3em;
  width: 14em;
  font-size: 1.5em;
  margin: .8em .4em;
  color: white;
  background-color: black;
  border: solid .1em white;
  padding: 1em;
}

.mainContacto__iFormularios__mail {
  height: 3em;
  width: 31em;
  font-size: 1.5em;
  margin: .8em .4em;
  color: white;
  background-color: black;
  border: solid .1em white;
  padding: 1em;
}

.mainContacto__iFormularios__mensaje {
  min-width: 31em;
  min-height: 15em;
  max-width: 31em;
  max-height: 30em;
  font-size: 1.5em;
  margin: .8em .4em;
  color: white;
  background-color: black;
  border: solid .1em white;
  padding: 1em;
}

.mainContacto__iFormularios__boton {
  height: 3em;
  width: 10em;
  font-size: 1.5em;
  margin: .8em .4em;
  color: black;
  background-color: cornsilk;
  border: black solid .3em;
}

.mainCursos {
  height: 100vh;
  background-image: url(Multimedia/bodynew.jpg);
}

.mainCursos__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 7%;
  font-family: 'Kurale';
}

.mainCursos__lista__item__curso {
  text-align: center;
  background-color: black;
  padding: 2rem;
  border-radius: 2em;
  border: .2em solid cornsilk;
  height: 30em;
  width: 40em;
  overflow: hidden;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.mainCursos__lista__item__curso:hover {
  height: 54em;
}

.mainCursos__lista__item__curso__titulo {
  font-size: 2.5em;
  color: cornsilk;
}

.mainCursos__lista__item__curso__info {
  font-size: 1.7em;
  color: cornsilk;
  margin-bottom: 1em;
}

.mainCursos__lista__item__curso__button {
  text-decoration: none;
  color: black;
  background-color: wheat;
  padding: .7em;
  font-size: 1.7em;
}

.mainCursos__lista__item__curso__button:hover {
  color: #ffc400;
}

.mainCLista {
  height: 100vh;
  background-image: url(Multimedia/bodynew.jpg);
}

.mainCLista__lista {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  font-family: 'Kurale';
}

.mainCLista__lista__item {
  text-decoration: none;
  width: 20%;
}

.mainCLista__lista__item__curso {
  background-color: black;
  border-radius: 2em;
  border: .2em solid cornsilk;
  padding: 5em;
  height: 40em;
}

.mainCLista__lista__item__curso__titulo {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 2.5em;
  color: cornsilk;
}

.mainCLista__lista__item__curso__info {
  font-size: 1.7em;
  color: cornsilk;
}

.mainCLista__lista__item__curso__info2 {
  font-weight: bold;
  font-size: 1.7em;
  color: cornsilk;
}

.mainCLista__lista__item__curso__button {
  text-decoration: none;
  padding: 0.2em;
  background-color: cornsilk;
  color: black;
  font-size: 2em;
}

.mainCLista__lista__item__curso__button:hover {
  color: #0099ff;
}

.bodyReg {
  background-image: url(Multimedia/bodytry.jpg);
  background-size: cover;
}

.mainReg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 60vh;
  text-align: center;
  margin-top: 10vh;
  margin-left: 30%;
  padding: 5em 0;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-image: url(Multimedia/header.jpg);
  background-size: cover;
  background-position: left;
  border: cornsilk .5em double;
  border-radius: 5em;
}

.mainReg__mainTitle {
  text-decoration: none;
}

.mainReg__mainTitle__text {
  font-size: 5em;
  font-family: 'Comfortaa', cursive;
  color: cornsilk;
  text-decoration: none;
  text-align: center;
  border-top: cornsilk 0.1em groove;
  border-bottom: cornsilk 0.1em groove;
}

.mainReg__titulo2 {
  color: cornsilk;
  font-size: 3em;
}

.mainReg__Form__correo {
  height: 1.2em;
  width: 18em;
  font-size: 1.5em;
  margin: .4em .1em;
  color: white;
  background-color: black;
  border: solid .1em white;
  padding: 1em;
}

.mainReg__Form__contraseña {
  height: 1.2em;
  width: 18em;
  font-size: 1.5em;
  margin: .4em .1em;
  color: white;
  background-color: black;
  border: solid .1em white;
  padding: 1em;
}

.mainReg__Form__mSesionLabel {
  font-size: 1.8em;
  color: cornsilk;
}

.mainReg__Form__link {
  display: block;
  text-decoration: none;
  font-size: 1.8em;
  padding: 0.3em;
  background-color: black;
  color: cornsilk;
  border: cornsilk .1em solid;
}

.main404 {
  background-image: url(Multimedia/bodynew.jpg);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "error error";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 12vh 88vh;
      grid-template-rows: 12vh 88vh;
}

.main404 .iHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.main404__error {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: error;
  margin-top: 19vh;
  text-align: center;
}

.main404__error i {
  font-size: 15em;
  margin-bottom: 5vh;
  color: cornsilk;
}

.main404__error__titulo {
  font-size: 8em;
  color: cornsilk;
}

.main404__error__parrafo {
  font-size: 2.5em;
  color: cornsilk;
}

.mainCampus {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navBar header header header" "navBar main   main   main" "navBar main   main   main";
  -ms-grid-columns: 12.1vw 29vw 29vw 29vw;
      grid-template-columns: 12.1vw 29vw 29vw 29vw;
  -ms-grid-rows: 12vh 45vh 45vh;
      grid-template-rows: 12vh 45vh 45vh;
}

.mainCampus__sideHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: cornsilk;
  border-bottom: black 0.1em solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCampus__sideHeader__title {
  width: 80%;
}

.mainCampus__sideHeader__title__text {
  font-size: 3em;
  font-family: 'Comfortaa', cursive;
  margin-right: 55vw;
  color: black;
  text-decoration: none;
  text-align: center;
}

.mainCampus__sideHeader__nav {
  padding: 4em 4em;
}

.mainCampus__sideHeader__nav__lista {
  list-style: none;
}

.mainCampus__sideHeader__nav__lista__item {
  color: black;
  font-size: 1.5em;
  display: inline-block;
  margin-left: 1.4vw;
}

.mainCampus__sideHeader__nav__lista__item__link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.mainCampus__navBar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: navBar;
  background-color: cornsilk;
  border-right: black 0.1em solid;
}

.mainCampus__navBar__text {
  font-size: 3.6em;
  font-family: 'Comfortaa', cursive;
  color: black;
  text-decoration: none;
  text-align: center;
  border-top: black 0.1em groove;
  border-bottom: black 0.1em groove;
  margin-right: auto;
  margin-left: auto;
}

.mainCampus__navBar__nav {
  padding: 4em 2em;
  margin-right: auto;
  margin-left: auto;
}

.mainCampus__navBar__nav__lista {
  list-style: none;
}

.mainCampus__navBar__nav__lista__item {
  margin-bottom: 5em;
}

.mainCampus__navBar__nav__lista__item__link {
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
  color: black;
}

.mainCampus__mainContent {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-color: #f6e0bd;
}

.mainCampus__navMobile {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  * {
    padding: 0;
    margin: 0;
  }
  /* ------------- GLOBAL ------------- */
  .iHeader {
    display: none;
  }
  .headerMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8vh;
    margin-bottom: 20vh;
  }
  .headerMobile__logo {
    text-decoration: none;
  }
  .headerMobile__logo__text {
    font-size: 2.3em;
    font-family: 'Comfortaa', cursive;
    color: cornsilk;
    text-decoration: none;
    text-align: center;
    border-top: cornsilk 0.1em groove;
    border-bottom: cornsilk 0.1em groove;
    margin-left: 2vw;
    margin-top: 5%;
  }
  .headerMobile i {
    color: cornsilk;
    font-size: 3em;
    margin-right: 6vw;
  }
  .headerMobile i .menuList {
    list-style: none;
    position: absolute;
    display: none;
    background-color: black;
    right: 1em;
  }
  .headerMobile i .menuList__item {
    margin: 0;
    position: relative;
    margin-bottom: .2vh;
    border: cornsilk .1em solid;
  }
  .headerMobile i .menuList__item__link {
    text-align: center;
    text-decoration: none;
    font-size: 0.4em;
    color: cornsilk;
    display: block;
  }
  .headerMobile i:hover .menuList {
    display: block;
  }
  .iFooter {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .iFooter__titleYpags {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em .5em;
  }
  .iFooter__titleYpags__pags__title {
    font-size: 2em;
  }
  .iFooter__titleYpags__pags__list__item {
    display: block;
    margin-left: .7em;
  }
  .iFooter__titleYpags__pags__list__item__link {
    font-size: 1em;
  }
  .iFooter__titleYpags__pags__news__title2 {
    font-size: 1.1em;
  }
  .iFooter__titleYpags__pags__news__input {
    height: 1em;
    width: 8em;
  }
  .iFooter__titleYpags__pags__news__button {
    font-size: 1em;
  }
  .iFooter__privYredes {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em .5em;
  }
  .iFooter__privYredes__redes {
    margin-left: 42%;
    margin-right: auto;
  }
  .iFooter__privYredes__redes__link {
    font-size: 1em;
  }
  .iFooter__privYredes__copy {
    font-size: .8em;
  }
  .iFooter__privYredes__terminos__link {
    font-size: .8em;
  }
  /* ------------ INDEX ------------ */
  .welcomeIndex__square__title {
    font-size: 1.5em;
  }
  .welcomeIndex__square__text {
    font-size: 1em;
  }
  .mainIndex {
    display: block;
  }
  .mainIndex__corte {
    height: 11.2vh;
  }
  .mainIndex__corte__text {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 4vw;
  }
  .mainIndex__sec1__text {
    font-size: 1em;
  }
  .mainIndex__corte1 {
    height: 11.2vh;
  }
  .mainIndex__corte1__text {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 65vw;
  }
  .mainIndex__sec2__text {
    font-size: 1em;
  }
  .mainIndex__corte2 {
    height: 11.2vh;
  }
  .mainIndex__corte2__text {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 4vw;
  }
  .mainIndex__sec3 {
    margin-bottom: 0vh;
  }
  .mainIndex__sec3__text {
    font-size: 1em;
  }
  /* ------------ PORTFOLIO ------------ */
  .mainPort {
    display: block;
  }
  .mainPort__Texto1 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto1__title {
    font-size: 1em;
  }
  .mainPort__Texto1__title2 {
    font-size: .8em;
  }
  .mainPort__Texto1__parrafo {
    font-size: .8em;
  }
  .mainPort__Portrait {
    height: 80vh;
    width: 68%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .mainPort__Portrait__img {
    height: 78vh;
    width: 99%;
    background-position: top;
    padding: 0;
    margin: 0;
  }
  .mainPort__Texto2 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto2__title2 {
    font-size: .8em;
  }
  .mainPort__Texto2__parrafo {
    font-size: .8em;
  }
  .mainPort__Img {
    height: 40vh;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .mainPort__Img__foto {
    height: 38vh;
    width: 99%;
  }
  .mainPort__pFoto {
    height: 40vh;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .mainPort__pFoto__img {
    height: 38vh;
    width: 99%;
  }
  .mainPort__Texto3 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto3__title2 {
    font-size: .8em;
  }
  .mainPort__Texto3__parrafo {
    font-size: .8em;
  }
  /* ------------ CONTACTO ------------ */
  .mainContacto {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainContacto__Info1 {
    display: block;
    padding: 1em 1em;
  }
  .mainContacto__Info1__flexDivs1 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs1__title {
    font-size: 1em;
  }
  .mainContacto__Info1__flexDivs1__parrafo {
    font-size: 1em;
  }
  .mainContacto__Info1__flexDivs2 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs2__title {
    font-size: 1em;
  }
  .mainContacto__Info1__flexDivs2__parrafo {
    font-size: 1em;
  }
  .mainContacto__Info1__flexDivs3 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs3__title {
    font-size: 1em;
  }
  .mainContacto__Info1__flexDivs3__parrafo {
    font-size: 1em;
  }
  .mainContacto__iFormularios {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__iFormularios__title {
    font-size: 1em;
  }
  .mainContacto__iFormularios__parrafo {
    font-size: 1em;
  }
  .mainContacto__iFormularios__nombre {
    height: 3em;
    width: 12em;
    font-size: 1em;
    margin: .8em .4em;
    padding: 1em;
  }
  .mainContacto__iFormularios__numero {
    height: 3em;
    width: 12em;
    font-size: 1em;
    margin: .8em .4em;
    padding: 1em;
  }
  .mainContacto__iFormularios__mail {
    height: 3em;
    width: 24em;
    font-size: 1em;
    padding: 1em 1em;
    margin: 1em 0;
  }
  .mainContacto__iFormularios__mensaje {
    min-width: 15em;
    min-height: 5em;
    max-width: 24em;
    max-height: 15em;
    height: 5em;
    width: 24em;
    font-size: 1em;
    padding: 1em 1em;
    margin: 1em 0;
  }
  .mainContacto__iFormularios__boton {
    height: 3em;
    width: 15em;
    font-size: 1em;
    padding: 0 1em;
  }
  /* ------------ REGISTRO ------------ */
  .bodyReg {
    background-image: url(Multimedia/corteIndex.jpg);
  }
  .mainReg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em 1.5em;
  }
  .mainReg__mainTitle__text {
    font-size: 3em;
  }
  .mainReg__titulo2 {
    font-size: 2em;
  }
  .mainReg__Form__correo {
    height: 1.2em;
    width: 18em;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border: solid .1em white;
    padding: 1em;
  }
  .mainReg__Form__contraseña {
    height: 1.2em;
    width: 18em;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
  }
  .mainReg__Form__mSesionLabel {
    font-size: 1em;
  }
  .mainReg__Form__link {
    font-size: 1em;
  }
  /* ------------ CURSOS ------------ */
  .mainCursos {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainCursos__lista {
    display: block;
  }
  .mainCursos__lista__item__curso {
    padding: 1em 1em;
    height: 40vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .mainCursos__lista__item__curso:hover {
    height: 80vh;
  }
  .mainCursos__lista__item__curso img {
    height: 40vh;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .mainCursos__lista__item__curso__titulo {
    font-size: 1.2em;
  }
  .mainCursos__lista__item__curso__info {
    font-size: 1em;
  }
  .mainCursos__lista__item__curso__button {
    font-size: 1.1em;
  }
  /* ------------ CURSOS LISTA ------------ */
  .mainCLista {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainCLista__lista {
    display: block;
  }
  .mainCLista__lista__item {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .mainCLista__lista__item__curso {
    padding: 2em;
    height: 20em;
  }
  .mainCLista__lista__item__curso__titulo {
    font-size: 1.3em;
  }
  .mainCLista__lista__item__curso__info {
    font-size: 1.1em;
  }
  .mainCLista__lista__item__curso__info2 {
    font-weight: bold;
    font-size: 1.1em;
  }
  .mainCLista__lista__item__curso__button {
    font-size: 1.2em;
  }
  .mainCLista__lista__item__curso__button:hover {
    color: #0099ff;
  }
  /* ------------ CAMPUS ------------ */
  .mainCampus {
    display: block;
  }
  .mainCampus__sideHeader {
    display: none;
  }
  .mainCampus__navBar {
    display: none;
  }
  .mainCampus__navMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: cornsilk;
    height: 10vh;
    border-bottom: double black .1em;
  }
  .mainCampus__navMobile__headline {
    width: 30%;
    margin-left: 2%;
  }
  .mainCampus__navMobile__headline__title2 {
    font-size: 1.2em;
  }
  .mainCampus__navMobile__headline__titel3 {
    font-size: 1em;
    text-align: center;
  }
  .mainCampus__navMobile__nav {
    width: 70%;
    margin-left: 0;
  }
  .mainCampus__navMobile__nav__lista {
    list-style: none;
    text-align: end;
  }
  .mainCampus__navMobile__nav__lista__item {
    display: inline;
    margin-left: 3%;
  }
  .mainCampus__navMobile__nav__lista__item__link {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
  }
  .mainCampus__mainContent {
    height: 100vh;
  }
  /* --------- 404 ---------- */
  .main404 {
    display: block;
    height: 100vh;
  }
  .main404__error i {
    font-size: 8em;
  }
  .main404__error__titulo {
    font-size: 3em;
  }
  .main404__error__parrafo {
    font-size: 2em;
    color: cornsilk;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
  * {
    padding: 0;
    margin: 0;
  }
  /* ------------- GLOBAL ------------- */
  .iHeader {
    display: none;
  }
  .headerMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8vh;
    margin-bottom: 20vh;
  }
  .headerMobile__logo {
    text-decoration: none;
  }
  .headerMobile__logo__text {
    font-size: 3em;
    color: cornsilk;
    text-decoration: none;
    text-align: center;
    border-top: cornsilk 0.1em groove;
    border-bottom: cornsilk 0.1em groove;
    margin-left: 2vw;
    margin-top: 5%;
  }
  .headerMobile i {
    color: cornsilk;
    font-size: 3.5em;
    margin-right: 6vw;
  }
  .headerMobile i .menuList {
    list-style: none;
    position: absolute;
    display: none;
    background-color: black;
    right: 1em;
  }
  .headerMobile i .menuList__item {
    margin: 0;
    position: relative;
    margin-bottom: .2vh;
    border: cornsilk .1em solid;
  }
  .headerMobile i .menuList__item__link {
    text-align: center;
    text-decoration: none;
    font-size: 0.6em;
    color: cornsilk;
    display: block;
  }
  .headerMobile i:hover .menuList {
    display: block;
  }
  .iFooter {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .iFooter__titleYpags {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em .5em;
  }
  .iFooter__titleYpags__pags__title {
    font-size: 2.3em;
  }
  .iFooter__titleYpags__pags__list__item {
    display: block;
    margin-left: .7em;
  }
  .iFooter__titleYpags__pags__list__item__link {
    font-size: 1.2em;
  }
  .iFooter__titleYpags__pags__news__title2 {
    font-size: 1.3em;
  }
  .iFooter__titleYpags__pags__news__input {
    height: 1em;
    width: 12em;
  }
  .iFooter__titleYpags__pags__news__button {
    font-size: 1.2em;
  }
  .iFooter__privYredes {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em .5em;
  }
  .iFooter__privYredes__redes {
    margin-left: 42%;
    margin-right: auto;
  }
  .iFooter__privYredes__redes__link {
    font-size: 1.4em;
  }
  .iFooter__privYredes__copy {
    font-size: 1.1em;
  }
  .iFooter__privYredes__terminos__link {
    font-size: 1em;
  }
  /* ------------ INDEX ------------ */
  .welcomeIndex__square__title {
    font-size: 2em;
  }
  .welcomeIndex__square__text {
    font-size: 1.4em;
  }
  .mainIndex {
    display: block;
  }
  .mainIndex__corte {
    height: 11.2vh;
  }
  .mainIndex__corte__text {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 4vw;
  }
  .mainIndex__sec1__text {
    font-size: 1em;
  }
  .mainIndex__corte1 {
    height: 11.2vh;
  }
  .mainIndex__corte1__text {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 65vw;
  }
  .mainIndex__sec2__text {
    font-size: 1em;
  }
  .mainIndex__corte2 {
    height: 11.2vh;
  }
  .mainIndex__corte2__text {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 4vw;
  }
  .mainIndex__sec3 {
    margin-bottom: 0vh;
  }
  .mainIndex__sec3__text {
    font-size: 1em;
  }
  /* ------------ PORTFOLIO ------------ */
  .mainPort {
    display: block;
  }
  .mainPort__Texto1 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto1__title {
    font-size: 1.2em;
  }
  .mainPort__Texto1__title2 {
    font-size: 1em;
  }
  .mainPort__Texto1__parrafo {
    font-size: .9em;
  }
  .mainPort__Portrait {
    height: 80vh;
    width: 68%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .mainPort__Portrait__img {
    height: 80vh;
    width: 100%;
    background-position: top;
    padding: 0;
    margin: 0;
  }
  .mainPort__Texto2 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto2__title2 {
    font-size: 1em;
  }
  .mainPort__Texto2__parrafo {
    font-size: .9em;
  }
  .mainPort__Img {
    height: 40vh;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .mainPort__Img__foto {
    height: 40vh;
    width: 100%;
  }
  .mainPort__pFoto {
    height: 40vh;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .mainPort__pFoto__img {
    height: 40vh;
    width: 100%;
  }
  .mainPort__Texto3 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto3__title2 {
    font-size: 1em;
  }
  .mainPort__Texto3__parrafo {
    font-size: .9em;
  }
  /* ------------ CONTACTO ------------ */
  .mainContacto {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainContacto__Info1 {
    display: block;
    padding: 1em 1em;
  }
  .mainContacto__Info1__flexDivs1 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs1__title {
    font-size: 1.3em;
  }
  .mainContacto__Info1__flexDivs1__parrafo {
    font-size: 1.2em;
  }
  .mainContacto__Info1__flexDivs2 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs2__title {
    font-size: 1.3em;
  }
  .mainContacto__Info1__flexDivs2__parrafo {
    font-size: 1.2em;
  }
  .mainContacto__Info1__flexDivs3 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs3__title {
    font-size: 1.3em;
  }
  .mainContacto__Info1__flexDivs3__parrafo {
    font-size: 1.2em;
  }
  .mainContacto__iFormularios {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__iFormularios__title {
    font-size: 1.3em;
  }
  .mainContacto__iFormularios__parrafo {
    font-size: 1.2em;
  }
  .mainContacto__iFormularios__nombre {
    height: 3em;
    width: 12em;
    font-size: 1.3em;
    margin: .8em .4em;
    padding: 1em;
  }
  .mainContacto__iFormularios__numero {
    height: 3em;
    width: 12em;
    font-size: 1.3em;
    margin: .8em .4em;
    padding: 1em;
  }
  .mainContacto__iFormularios__mail {
    height: 3em;
    width: 24em;
    font-size: 1.3em;
    padding: 1em 1em;
    margin: 1em 0;
  }
  .mainContacto__iFormularios__mensaje {
    min-width: 15em;
    min-height: 5em;
    max-width: 24em;
    max-height: 15em;
    height: 5em;
    width: 24em;
    font-size: 1.2em;
    padding: 1em 1em;
    margin: 1em 0;
  }
  .mainContacto__iFormularios__boton {
    height: 3em;
    width: 15em;
    font-size: 1.3em;
    padding: 0 1em;
  }
  /* ------------ REGISTRO ------------ */
  .bodyReg {
    background-image: url(Multimedia/corteIndex.jpg);
  }
  .mainReg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em 1.5em;
  }
  .mainReg__mainTitle__text {
    font-size: 3.2em;
  }
  .mainReg__titulo2 {
    font-size: 2.2em;
  }
  .mainReg__Form__correo {
    height: 1.2em;
    width: 18em;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border: solid .1em white;
    padding: 1em;
  }
  .mainReg__Form__contraseña {
    height: 1.2em;
    width: 18em;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
  }
  .mainReg__Form__mSesionLabel {
    font-size: 1.2em;
  }
  .mainReg__Form__link {
    font-size: 1.2em;
  }
  /* ------------ CURSOS ------------ */
  .mainCursos {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainCursos__lista {
    display: block;
  }
  .mainCursos__lista__item__curso {
    padding: 1em 1em;
    height: 40vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .mainCursos__lista__item__curso:hover {
    height: 80vh;
  }
  .mainCursos__lista__item__curso img {
    height: 40vh;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .mainCursos__lista__item__curso__titulo {
    font-size: 1.4em;
  }
  .mainCursos__lista__item__curso__info {
    font-size: 1.2em;
  }
  .mainCursos__lista__item__curso__button {
    font-size: 1.2em;
  }
  /* ------------ CURSOS LISTA ------------ */
  .mainCLista {
    height: 170vh;
  }
  .mainCLista__lista {
    display: block;
  }
  .mainCLista__lista__item {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6vh;
  }
  .mainCLista__lista__item__curso {
    padding: 2em;
    height: 20em;
  }
  .mainCLista__lista__item__curso__titulo {
    font-size: 1.7em;
  }
  .mainCLista__lista__item__curso__info {
    font-size: 1.4em;
  }
  .mainCLista__lista__item__curso__info2 {
    font-size: 1.4em;
  }
  .mainCLista__lista__item__curso__button {
    font-size: 1.4em;
  }
  .mainCLista__lista__item__curso__button:hover {
    color: #0099ff;
  }
  /* ------------ CAMPUS ------------ */
  .mainCampus {
    display: block;
  }
  .mainCampus__sideHeader {
    display: none;
  }
  .mainCampus__navBar {
    display: none;
  }
  .mainCampus__navMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: cornsilk;
    height: 10vh;
    border-bottom: double black .1em;
  }
  .mainCampus__navMobile__headline {
    width: 30%;
    margin-left: 2%;
  }
  .mainCampus__navMobile__headline__title2 {
    font-size: 1.6em;
  }
  .mainCampus__navMobile__headline__titel3 {
    font-size: 1.4em;
    text-align: center;
  }
  .mainCampus__navMobile__nav {
    width: 70%;
    margin-left: 0;
  }
  .mainCampus__navMobile__nav__lista {
    list-style: none;
    text-align: end;
  }
  .mainCampus__navMobile__nav__lista__item {
    display: inline;
    margin-left: 3%;
  }
  .mainCampus__navMobile__nav__lista__item__link {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
  }
  .mainCampus__mainContent {
    height: 100vh;
  }
  .main404 {
    display: block;
    height: 100vh;
  }
  .main404__error i {
    font-size: 9em;
  }
  .main404__error__titulo {
    font-size: 4em;
  }
  .main404__error__parrafo {
    font-size: 2.2em;
    color: cornsilk;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1600px) {
  * {
    padding: 0;
    margin: 0;
  }
  /* ------------- GLOBAL ------------- */
  .iHeader__menu__lista .lista__item__link {
    font-size: 1.2em;
  }
  .headerMobile {
    display: none;
  }
  .iFooter {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .iFooter__titleYpags {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em .5em;
  }
  .iFooter__titleYpags__pags__title {
    font-size: 3.3em;
  }
  .iFooter__titleYpags__pags__list__item {
    display: block;
    margin-left: .7em;
  }
  .iFooter__titleYpags__pags__list__item__link {
    font-size: 1.4em;
  }
  .iFooter__titleYpags__pags__news__title2 {
    font-size: 1.4em;
  }
  .iFooter__titleYpags__pags__news__input {
    height: 1em;
    width: 12em;
  }
  .iFooter__titleYpags__pags__news__button {
    font-size: 1.3em;
  }
  .iFooter__privYredes {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em .5em;
  }
  .iFooter__privYredes__redes {
    margin-left: 42%;
    margin-right: auto;
  }
  .iFooter__privYredes__redes__link {
    font-size: 1.6em;
  }
  .iFooter__privYredes__copy {
    font-size: 1.3em;
  }
  .iFooter__privYredes__terminos__link {
    font-size: 1.1em;
  }
  /* ------------ INDEX ------------ */
  .welcomeIndex__square__title {
    font-size: 3em;
  }
  .welcomeIndex__square__text {
    font-size: 1.6em;
  }
  .mainIndex {
    display: block;
  }
  .mainIndex__corte {
    height: 11.2vh;
  }
  .mainIndex__corte__text {
    font-size: 1.4em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 4vw;
  }
  .mainIndex__sec1__text {
    font-size: 1.2em;
  }
  .mainIndex__corte1 {
    height: 11.2vh;
  }
  .mainIndex__corte1__text {
    font-size: 1.4em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 65vw;
  }
  .mainIndex__sec2__text {
    font-size: 1.2em;
  }
  .mainIndex__corte2 {
    height: 11.2vh;
  }
  .mainIndex__corte2__text {
    font-size: 1.4em;
    margin: 0;
    margin-top: 5vh;
    margin-left: 4vw;
  }
  .mainIndex__sec3 {
    margin-bottom: 0vh;
  }
  .mainIndex__sec3__text {
    font-size: 1.2em;
  }
  /* ------------ PORTFOLIO ------------ */
  .mainPort__Texto1 {
    margin-left: 8%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto1__title {
    font-size: 1.4em;
  }
  .mainPort__Texto1__title2 {
    font-size: 1.2em;
  }
  .mainPort__Texto1__parrafo {
    font-size: 1.1em;
  }
  .mainPort__Portrait {
    height: 60vh;
    width: 68%;
    margin-left: 40%;
    margin-bottom: 10%;
  }
  .mainPort__Portrait__img {
    height: 60vh;
    width: 99%;
    background-position: top;
    padding: 0;
    margin: 0;
  }
  .mainPort__Texto2 {
    margin-left: 32%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto2__title2 {
    font-size: 1.2em;
  }
  .mainPort__Texto2__parrafo {
    font-size: 1.1em;
  }
  .mainPort__Img {
    height: 50vh;
    width: 60%;
    margin-left: 0;
    margin-bottom: 10%;
  }
  .mainPort__Img__foto {
    height: 50vh;
    width: 99%;
  }
  .mainPort__pFoto {
    height: 40vh;
    width: 70%;
    margin-left: 50%;
    margin-bottom: 10vh;
    margin-top: 10%;
  }
  .mainPort__pFoto__img {
    height: 38vh;
    width: 99%;
  }
  .mainPort__Texto3 {
    margin-left: 15%;
    width: 68%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-top: 1em;
  }
  .mainPort__Texto3__title2 {
    font-size: 1.2em;
  }
  .mainPort__Texto3__parrafo {
    font-size: 1.1em;
  }
  /* ------------ CONTACTO ------------ */
  .mainContacto {
    height: 170vh;
  }
  .mainContacto__Info1 {
    padding: 1em 1em;
  }
  .mainContacto__Info1__flexDivs1 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs1__title {
    font-size: 1.4em;
  }
  .mainContacto__Info1__flexDivs1__parrafo {
    font-size: 1.3em;
  }
  .mainContacto__Info1__flexDivs2 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs2__title {
    font-size: 1.4em;
  }
  .mainContacto__Info1__flexDivs2__parrafo {
    font-size: 1.3em;
  }
  .mainContacto__Info1__flexDivs3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__Info1__flexDivs3__title {
    font-size: 1.4em;
  }
  .mainContacto__Info1__flexDivs3__parrafo {
    font-size: 1.3em;
  }
  .mainContacto__iFormularios {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .mainContacto__iFormularios__title {
    font-size: 1.4em;
  }
  .mainContacto__iFormularios__parrafo {
    font-size: 1.3em;
  }
  .mainContacto__iFormularios__nombre {
    height: 3em;
    width: 12em;
    font-size: 1.3em;
    margin: .8em .4em;
    padding: 1em;
  }
  .mainContacto__iFormularios__numero {
    height: 3em;
    width: 12em;
    font-size: 1.3em;
    margin: .8em .4em;
    padding: 1em;
  }
  .mainContacto__iFormularios__mail {
    height: 3em;
    width: 25em;
    font-size: 1.3em;
    padding: 1em 1em;
    margin: 1em 0;
  }
  .mainContacto__iFormularios__mensaje {
    min-width: 25em;
    min-height: 5em;
    max-width: 30em;
    max-height: 15em;
    height: 5em;
    width: 25em;
    font-size: 1.3em;
    padding: 1em 1em;
    margin: 1em 0;
  }
  .mainContacto__iFormularios__boton {
    height: 3em;
    width: 15em;
    font-size: 1.3em;
    padding: 0 1em;
  }
  /* ------------ REGISTRO ------------ */
  .bodyReg {
    background-image: url(Multimedia/corteIndex.jpg);
  }
  .mainReg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em 1.5em;
  }
  .mainReg__mainTitle__text {
    font-size: 3.2em;
  }
  .mainReg__titulo2 {
    font-size: 2.2em;
  }
  .mainReg__Form__correo {
    height: 1.2em;
    width: 18em;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    border: solid .1em white;
    padding: 1em;
  }
  .mainReg__Form__contraseña {
    height: 1.2em;
    width: 18em;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
  }
  .mainReg__Form__mSesionLabel {
    font-size: 1.2em;
  }
  .mainReg__Form__link {
    font-size: 1.2em;
  }
  /* ------------ CURSOS ------------ */
  .mainCursos {
    height: 140vh;
  }
  .mainCursos__lista__item__curso {
    padding: 1em 1em;
    height: 29em;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .mainCursos__lista__item__curso:hover {
    height: 70vh;
  }
  .mainCursos__lista__item__curso__titulo {
    font-size: 1.4em;
  }
  .mainCursos__lista__item__curso__info {
    font-size: 1.2em;
  }
  .mainCursos__lista__item__curso__button {
    font-size: 1.2em;
  }
  /* ------------ CURSOS LISTA ------------ */
  .mainCLista {
    height: 120vh;
  }
  .mainCLista__lista__item {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6vh;
  }
  .mainCLista__lista__item__curso {
    padding: 2em;
    height: 20em;
  }
  .mainCLista__lista__item__curso__titulo {
    font-size: 1.7em;
  }
  .mainCLista__lista__item__curso__info {
    font-size: 1.4em;
  }
  .mainCLista__lista__item__curso__info2 {
    font-size: 1.4em;
  }
  .mainCLista__lista__item__curso__button {
    font-size: 1.4em;
  }
  .mainCLista__lista__item__curso__button:hover {
    color: #0099ff;
  }
  /* ------------ CAMPUS ------------ */
  .mainCampus__sideHeader__title {
    width: 80%;
  }
  .mainCampus__sideHeader__title__text {
    font-size: 2.7em;
  }
  .mainCampus__nav__lista__item {
    font-size: 1.3em;
  }
  .mainCampus__nav__lista__item__link {
    font-size: 1.2em;
  }
  .mainCampus__navBar__text {
    font-size: 3em;
  }
  .mainCampus__navBar__nav__lista__item__link {
    font-size: 1.4em;
  }
  .mainCampus__navMobile {
    display: none;
  }
  .mainCampus__mainContent {
    height: 100vh;
  }
}
/*# sourceMappingURL=mainStyle.css.map */